<div class="content-wrap clearfix">
    <div class="mccan page">
        <h3 class="title-small">Take A Look At</h3>
        <h2 class="title">My Classmates</h2>
        <div class="content">
            <div class="grid-container">
                <div class="grid-column">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://austinwallace.net/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Austin Wallace.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Austin Wallace</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.linkedin.com/in/benjaminjmcd/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Benjamin McDaniel.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Benjamin McDaniel</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://fountaincitydev.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/ConnorDunn.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Connor Dunn</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Enrique Garcia.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Erique Garcia</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.linkedin.com/in/ian-mcclaflin-982755232/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Ian McClaflin.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Ian McClaflin</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://jazminerizo.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Jazmine Rizo.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Jazmine Rizo</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://projectpeacock.net/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Justin Peacock.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Justin Peacock</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://www.kaylawin.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Kayla Nguyen.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Kayla Nguyen</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://mattroberts-dev.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Matt Roberts.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Matthew Roberts</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://paytonvon.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Payton VanHolten.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Payton VanHolten</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.linkedin.com/in/romeo-bagunu/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Romeo Bagunu.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Romeo Bagunu</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://mckinneywebdev.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Sean Mckinney.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Sean Mckinney</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://zaksisler.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/Zakary Sisler.jfif" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Zakary Sisler</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://alexklee.net/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/classmates/" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Alex Klee</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year <a href="@Url.Action("Index", "Home")">Michael Redifer</a>. All Rights Reserved.</p>
    </div>
</div>