@model PersonalSiteMVC.UI.MVC.Models.ContactViewModel

<div class="content-wrap">
    <div class="mccan page">
        <h2 class="title">Thank you!</h2>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <p>Your message has been sent and I will get back to you as soon as I can.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2022 <a href="index.html">McCan</a>. All Rights Reserved.</p>
    </div>
</div>

