<div class="content-wrap clearfix">
    <!-- About Me -->
    <div class="mccan page">
        <h3 class="title-small">Full Stack Web Developer</h3>
        <h2 class="title">Michael Redifer</h2>
        <div class="content">
            <div class="grid-container">
                <div class="grid-column">
                    <p>
                        Hi, My name is Michael Redifer. I am a Full Stack Web Developer, from a young age my father always told me that computers would be the future. He couldn't have been more right, but, he taught me how to build and
                        operate a computer which eventually turned into more of a hobby. Through this hobby I did my best to acquire as much knowledge about technology as I could. This led me down the path of Web Development and
                        here we are now.
                    </p>
                    <!--Suggested change-->
                    <!--My name is Michael Redifer. I am a Full Stack Web Developer. From a young age my father always said that computers would be the future. He couldn't have been more right. A shared hobby of building and operating has evolved into a passion and now a career. I am eager to help pave the future for web development.-->
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Birthday:</b> October 20 1995</p>
                            <p><b>Website:</b> www.michaelredifer.com</p>
                            <p><b>Phone:</b> +1 (913) 905-9232</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Mail:</b> mikeredifer@yahoo.com</p>
                            <p><b>Linkedin:</b> /michael-redifer-202288232/</p>
                        </div>
                    </div> <a href="@Url.Action("Contact", "Home")" class="btn ajax">Hire Me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="divider1"></div>
    <!-- Services -->
    <div class="mccan page">
        <h3 class="title-small">What I Do</h3>
        <h2 class="title">Services</h2>
        <div class="content">
            <div class="grid-container">
                <div class="grid-column">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-telescope font-35px"></span> </div>
                                <div class="mccan-text">
                                    <h3>Web Design</h3>
                                    <p>Bringing your dream website to life through styling and framing. Languages: HTML, CSS, JavaScript</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-lightbulb font-35px"></span> </div>
                                <div class="mccan-text">
                                    <h3>Development</h3>
                                    <p>Creating applications and using the logic side of things to put more power and functionality in your projects. Languages: C#</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-camera font-30px"></span></div>
                                <div class="mccan-text">
                                    <h3>Photography</h3>
                                    <p>Basic photography. While not necessary for web development, I've always enjoyed taking pictures and even went to state competition for my photographs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-presentation font-35px"></span> </div>
                                <div class="mccan-text">
                                    <h3>SEO</h3>
                                    <p>Search Engine Optimization. Through optimization your website can show up more frequently through related searches on all of the major search engines.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-mobile font-35px"></span></div>
                                <div class="mccan-text">
                                    <h3>Mobile First</h3>
                                    <p>In an ever-changing industry we have to be on our toes. Mobile (and tablets) account for the majority of all browsing on the internet now and you'll want your web applications to 
                                    not only function properly but look good too.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-left">
                                <div class="mccan-icon"> <span class="et-layers font-35px"></span> </div>
                                <div class="mccan-text">
                                    <h3>Data Integration</h3>
                                    <p>Utilizing MVC and Entity Framework we can build a robust and dynamic application with user authentication and database integration. Perfect for store fronts or even something as simple as 
                                    an employee portal.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year <a href="@Url.Action("Index", "Home")">Michael Redifer</a>. All Rights Reserved.</p>
    </div>
</div>