<div class="content-wrap clearfix">
    <div class="mccan page">
        <h3 class="title-small">Take A Look At</h3>
        <h2 class="title">Projects</h2>
        <div class="content">
            <div class="grid-container">
                <div class="grid-column">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://kcfgc.michaelredifer.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/KCFGC thumbnail.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Mock Website</h3> <span>My first project. A website built entirely on HTML and CSS. No template, no JavaScript, no bootstrap, and all business.</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://github.com/MRedifer/DungeonApp" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/Brandedthumbnail.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Dungeon Crawler RPG</h3> <span>A relatively simple C# Role Playing Game I made during my time in the Centriq course. Using custom classes and methods, loops, and I was even able to
                                             implement a leveling and progression system.</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/07.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 03</h3> <span>Clock, Graphic Design</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/01.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 04</h3> <span>Logo, Branding Desing</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/08.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 05</h3> <span>Book Cover, Branding</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/03.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 06</h3> <span>Catalog, Branding</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/06.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 07</h3> <span>Tomongkol, Branding</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects.html" class="desc">
                                <div class="project">
                                    <img src="images/portfolio/04.jpg" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Project 08</h3> <span>Box Mockup, Branding</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year <a href="@Url.Action("Index", "Home")">Michael Redifer</a>. All Rights Reserved.</p>
    </div>
</div>


