<div class="content-wrap clearfix">
    <div class="mccan page">
        <h3 class="title-small">Take A Look At</h3>
        <h2 class="title">Projects</h2>
        <div class="content">
            <div class="grid-container">
                <div class="grid-column">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://kcfgc.michaelredifer.com/" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/KCFGC thumbnail.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Mock Website</h3> <span>My first project. A website built entirely on HTML and CSS. No template, no JavaScript, no bootstrap, and all business.</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://github.com/MRedifer/DungeonApp" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/Brandedthumbnail.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Dungeon Crawler RPG</h3> <span>
                                                A relatively simple C# Role Playing Game I made during my time in the Centriq course. Using custom classes and methods, loops, and I was even able to
                                                implement a leveling and progression system.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://burnthemeter.michaelredifer.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/burnthemeterthumb.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Burn The Meter</h3> <span>
                                                A two tier mock storefront (E-commerce) MVC website. With admin privileges you can add/delete/edit items in the database from the page also.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://todo.michaelredifer.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/todothumbnail.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>Training Room ToDo (REACT)</h3> <span>
                                                A basic ToDo application built in React, utilizing an API and Firebase authentication.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://sat.michaelredifer.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/sat.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>SAT (Pair Programming)</h3> <span>
                                                An MVC application mimicing a college administration tool to manage students, created with Scrum and Agile methods,
                                                in a pair partner programming session over the course of 3 classes.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://widowigofromhere.com" class="desc">
                                <div class="project">
                                    <img src="~/Content/images/portfolio/widowigofromhere.png" class="img-fluid" alt="">
                                    <div class="desc">
                                        <div class="con">
                                            <h3>WidowIGoFromHere</h3> <span>
                                                Our final capstone project to complete the Centriq Training. We produced this website for a real client, as a class, in a
                                            little under a week. We did this using Agile software development practices to emulate a real life development team to 
                                            ready us for the workforce.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year <a href="@Url.Action("Index", "Home")">Michael Redifer</a>. All Rights Reserved.</p>
    </div>
</div>


